.header {
  width: 100%;
  background-color: rgba(2, 2, 59, 0.927);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color:#fff;
  margin-bottom: 2rem;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: cornflowerblue;; 
}
.logout {
    background-color: inherit;
    color: #fff;
}