*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.login-form {
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
gap: 20px;
min-width: 50vw;
align-items: center;
margin-top: 4rem;
}
.input {
  width: 100%;           
  max-width: 400px;      
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  margin: 8px 0;
   min-width: 50%;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .input {
    width: 70vw !important;   
    font-size: 14px;
    
  }
}
input:focus {
  outline: none;
  border: 2px solid cornflowerblue; 
  box-shadow: 0 0 4px cornflowerblue;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}
.btn {
width: 200px;
padding: 12px;
color:rgba(2, 2, 59, 0.9); 
 background-color: #fff;
justify-content: center;
margin: 30px;
border: none;
font-weight: bolder;
}

